<!DOCTYPE HTML>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>body</title>
  </head>
</html>

<body class="top_body">
  <h1 class="top_title">ようこそ Bookersへ！</h1>
  <p class="top_text">
    <b>Bookers</b>では、さまざまな書籍に関するあなたの意見や<br/>
    <br/>
    印象を共有し交換することができます<br/>
    <br/>
    <%= link_to "start", "/books" %>
  </p>
</body>