 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 30px 30px 30px 30px;
}

.top_text {
  margin: 30px 30px 30px 30px;
}


td {
  padding: 5px 10px 0 0;
}

.title_table_fold{
  width: 20%;
}

.body_table_fold{
  width: 50%;
}

.show_book {
  margin: 0 0 0 25px;
}

.error-message {
  color: red;
  font-weight: bold;
  font-size: 150%;
}